[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
werkzeug = "==2.0.3"
sqlalchemy = "==1.4.32"
flask-login = "*"
flask-bcrypt = "*"
pytest = "*"
pytest-flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
